
h1{
   background-color: rgba(99, 99, 99, 0.671); 
  color: aliceblue;
  font-size: 24px; 
    
}
ul{
    background-color: gray;
    font-family: 'Courier New', Courier, monospace;
}
p{
    background-color: rgb(104, 104, 104);
    color: aliceblue;
    font-size: 18px;

}
form{
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}
body{
    background-color: rgb(10, 10, 10);
}
